#addtaskWrapper {
    display: flex;
}

#addtaskWrapper h1 {
    text-align: left;
    padding-block: 50px;
}

#addtaskContainer {
    width: 100%;
    padding-inline: 40px;
}

#addTask {
    display: flex;
    flex-direction: column;
}

#addTask input {
    width: 100%;
    outline-color: var(--acccolor);
}

#addTask textarea {
    width: -webkit-fill-available;
    min-height: 80px;
    resize: vertical;
    font-family: Inter;
    font-size: var(--fntsize20);
    padding: 13px 21px;
    outline-color: var(--acccolor);
    margin: 0;
}

#addTask h3 {
    color: #000;
    font-family: Inter;
    font-size: var(--fntsize27);
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    margin-block: 0 8px;
}

.inputAddTask {
    display: flex;
    justify-content: space-between;
}

#addtaskContainer section {
    margin-bottom: 20px;
}

#addtaskContainer section p {
    font-size: var(--fntsizebase);
    color: #FF3D00;
    margin-bottom: -20px
}

#addtaskContainer form::-webkit-scrollbar {
    width: 10px;
}

#addtaskContainer form::-webkit-scrollbar-thumb {
    background: var(--fntcolor);
    border-radius: 10px;
}

#rightSideAddTask,
#leftSideAddTask {
    display: inline-flex;
    flex-direction: column;
    gap: 14px;
    width: 45%;
}

.verticalLine {
    background-color: #D1D1D1;
    width: 3px;
}

.addTaskHeadline {
    display: flex;
    margin-left: 9%;
    margin-top: 7%;
}

#content {
    display: block;
    font-size: var(--fntsize20);
}

.prioContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}

#choosedCatagory {
    outline: none;
    border: none;
}

#subtaskContainer:active {
    outline-color: var(--acccolor);
}

#msgSubTask {
    margin-bottom: 0 !important;
}

.d-none {
    display: none !important;
}

.redBoarder {
    border: 1px solid red !important;
}

.addTaskStyle {
    border-radius: 5px;
    border: 1px solid var(--style, #D1D1D1);
    background: #FFF;
}

#addTaskDueDate {
    width: 100%;
    border-radius: 5px;
    border: 1px solid var(--style, #D1D1D1);
    background: #FFF;
    color: var(--style, #D1D1D1);
    font-family: 'Inter';
    padding: 13px 12px 13px 21px;
}

.IconHover {
    display: none;
}

.priosContainer {
    display: flex;
    width: 30%;
    height: 50px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: var(--white, #FFF);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.10);
    border: 1px solid var(--style, #D1D1D1);
    transition: transform .2s;
    cursor: pointer;
}

.priosContainer:hover {
    transform: scale(1.1);
    box-shadow: 0px 15px 10px -15px #111;
}

#subtaskContainer {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    border-radius: 5px;
    border: 1px solid var(--style, #D1D1D1);
    background: #FFF;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.10);
}

#addTaskSubTask {
    border: none;
    outline: none;
}

#subtaskCheckContainer {
    display: flex;
    margin-top: 10px;
    align-items: center;
    height: 80px;
    overflow: auto;
}

#subtaskCheckContainer::-webkit-scrollbar {
    width: 10px;
}

#subtaskCheckContainer::-webkit-scrollbar-thumb {
    background: var(--fntcolor);
    border-radius: 10px;
}

#addTask li:not(:last-child){
    margin-bottom: unset;
}

#addtaskBtnContainer {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.addTaskBorder {
    border: 1px solid var(--style, #D1D1D1);
}

.cursorPointer {
    cursor: pointer;
}

.addTaskUrgentHover {
    transition: transform .2s;
    cursor: pointer;
}

.addTaskUrgentHover:hover {
    transform: scale(1.1);
    box-shadow: 0px 15px 10px -15px #111;
}

.outlineNone {
    outline: none;
}

#addSubtask {
    align-self: center;
    margin-right: 10px;
}

#addSubtask:hover {
    cursor: pointer;
    background-color: var(--fntcolor);
    border-radius: 100%;
}

#subtaskCheckContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.subtaskWrapper {
    display: list-item;
    width: 100%;
}

.subtaskWrapperLine {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: var(--fntsize20);
    /* margin-right: 15px; */
    padding: 0 15px;
    height: 26px;
}

.subtaskWrapperLine:hover {
    background-color: var(--fntcolor);
    border-radius: 5px;
}

.subtaskWrapperLine div {
    display: flex;
    gap: 20px;
}

.subtaskWrapperLine svg {
    height: 20px;
    width: 20px;
    fill: var(--primcolor);
}

.subtaskWrapperLine svg:hover {
    fill: var(--acccolor);
    cursor: pointer;
}

.subtaskWrapperLineEdit{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: var(--fntsize20);
    padding-inline: 0 15px;
    height: 26px;
    background-color: white;
    border-bottom: 1px solid var(--acccolor);
}

.subtaskWrapperLineEdit input{
    height: 25px;
    border: none;
    outline: none;
}

.subtaskWrapperLineEdit div {
    display: flex;
    gap: 20px;
}

.subtaskWrapperLineEdit svg {
    height: 20px;
    width: 20px;
    fill: var(--primcolor);
}

.subtaskWrapperLineEdit svg:hover {
    fill: var(--acccolor);
    cursor: pointer;
}

#addTaskForm {
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
}

.designColor {
    background-color: #FF7A00;
}

/*prio test*/
input[type="radio"] {
    display: none;
}

input[id="urgent"] {
    &:checked {
        &+label {
            color: white;
            background-color: #FF3D00;
            transform: scale(1.05);
            box-shadow: 0px 15px 10px -15px #111;

            & .progressIcon {
                display: none;

                &+.IconHover {
                    display: inline;
                }
            }
        }
    }
}

input[id="medium"] {
    &:checked {
        &+label {
            color: white;
            background-color: #FFA800;
            transform: scale(1.05);
            box-shadow: 0px 15px 10px -15px #111;

            & .progressIcon {
                display: none;

                &+.IconHover {
                    display: inline;
                }
            }
        }
    }
}

input[id="low"] {
    &:checked {
        &+label {
            color: white;
            background-color: #7AE229;
            transform: scale(1.05);
            box-shadow: 0px 15px 10px -15px #111;

            & .progressIcon {
                display: none;

                &+.IconHover {
                    display: inline;
                }
            }
        }
    }
}

.container {
    border-radius: 5px;
    border: 1px solid var(--style, #D1D1D1);
    background: #FFF;
}

.userSelectBtn,
.categorySelectBtn {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px 0 0;
    border-radius: 5px;
    cursor: pointer;
    background-color: #fff;
}

.userSelectBtn input,
#newCategoryInputContainer input {
    outline: none;
    border: none;
    align-items: center;
}

.userSelectBtn.open,
.categorySelectBtn.open {
    border: 2px solid var(--acccolor);
}

.userSelectBtn .btn-text,
.categorySelectBtn .btn-text {
    font-size: 17px;
    font-weight: 400;
    color: #333;
}

.userSelectBtn .arrow-dwn,
.categorySelectBtn .arrow-dwn {
    display: flex;
    height: 21px;
    width: 21px;
    color: #fff;
    font-size: 14px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.userSelectBtn.open .arrow-dwn,
.categorySelectBtn.open .arrow-dwn {
    transform: rotate(-180deg);
}

.categoryListItems .item div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 16px;
    width: 100%;
    height: 100%;
}

.userListItems,
.categoryListItems {
    margin: 0;
    height: 150px;
    position: relative;
    border-radius: 0 8px;
    padding-inline: 16px;
    background-color: #fff;
    display: none;
    overflow: auto
}

.userSelectBtn.open~.userListItems,
.categorySelectBtn.open~.categoryListItems {
    display: block;
    margin-bottom: -135px;
    height: 130px;
}

.userListItems .item,
.categoryListItems .item {
    display: flex;
    align-items: center;
    list-style: none;
    height: 50px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 8px;
}

.userListItems .item:hover,
.categoryListItems .item:hover {
    background-color: rgb(230, 230, 230);
}

#newCategory {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    height: 50px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 8px;
    padding-left: 37px;
    margin-inline: -16px;
}

.item-user {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    gap: 10px;
}

.item-user div {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    color: white;
}

.item-user span {
    color: #333;
}

#selectetUsers {
    display: -webkit-box;
    width: -webkit-fill-available;
    overflow: auto;
    padding: 5px;
    gap: 5px;
}

#selectetUsers::-webkit-scrollbar {
    height: 10px;
}

#selectetUsers::-webkit-scrollbar-thumb {
    background: var(--fntcolor);
    border-radius: 10px;
}

#selectetUsers div {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    font-size: 16px;
    width: 35px;
    height: 35px;
    color: white;
}

.item .checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 16px;
    width: 16px;
    border-radius: 4px;
    margin-right: 12px;
    border: 1.5px solid #c0c0c0;
    transition: all 0.3s ease-in-out;
}

.item.checked .checkbox {
    background-color: #101218;
}

.checkbox .check-icon {
    color: #fff;
    font-size: 11px;
    transform: scale(0);
    transition: all 0.2s ease-in-out;
}

.item.checked .check-icon {
    transform: scale(1);
}

.item {
    justify-content: space-between;
}

#newCategoryInputContainer {
    display: none;
}

#newCategoryInput {
    padding-right: 0;
}

#closeCreateIcons {
    display: flex;
    justify-content: end;
    align-items: center;
}

#closeCreateIcons img {
    margin-inline: 0 5px;
    padding: 4px;
    border-radius: 100%;
    height: 16px;
}

#closeCreateIcons img:hover {
    background-color: var(--fntcolor);
}

#categoryColoredDots {
    display: none;
}

.groupDotColors {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.groupDotColors:hover {
    cursor: pointer;
}

.categoryListItems .item,
.userListItems .item {
    padding: 0px 21px;
}

.categoryBtnText,
.userBtnText {
    padding: 18px 21px;
    border: none;
}

.categoryBtnText {
    display: flex;
    align-items: center;
    gap: 10px;
}

#ovlyTaskaddedToBoard {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    bottom: -200px;
    left: calc(50% - 163px);
    width: 326px;
    border-radius: 20px;
    background-color: var(--seccolor);
    color: #FFFFFF;
    font-size: var(--fntsize20);
    padding: 25px 0px;
    z-index: 2;
}

#ovlyTaskaddedToBoard.addAnimtaion {
    animation: showInformation 2s linear 0s 1 normal;
}

@keyframes showInformation {
    0% {
        bottom: -200px;
    }

    10% {
        bottom: 200px;
    }

    90% {
        bottom: 200px;
    }

    100% {
        bottom: -200px;
    }
}

@media(max-height:920px) and (min-width: 841px){
    #addtaskContainer{
        padding-right: 0;
    }

    #addtaskContainer form {
        overflow: auto;
        height: calc(100vh - 180px - 120px);
        padding-right: 40px;
    }
}

@media(max-height:920px) and (min-width: 1025px){
    #addtaskContainer{
        padding-right: 0;
    }

    #addtaskContainer form {
        overflow: auto;
        height: calc(100vh - 90px - 190px);
        padding-right: 40px;
    }
}

@media only screen and (max-width: 1350px) {

    #addtaskContainer form {
        height: calc(100vh - 90px - 130px);
    }

    #addtaskWrapper h1 {
        padding-block: 20px;
    }

    #addTaskWrapper {
        flex-direction: column;
    }

    #addTaskHeader {
        font-size: 20px;
    }

    #addTaskSubTask {
        width: 100%;
    }

    .prioContainer {
        justify-content: space-between;
    }
}

@media (max-width: 840px) {
    #addtaskContainer{
        padding-right: 0;
    }

    #addtaskContainer form {
        overflow: auto;
        height: calc(100vh - 180px - 120px);
        padding-right: 40px;
        gap: 14px;
    }

    .inputAddTask {
        flex-direction: column;
        justify-content: unset;
    }

    #leftSideAddTask,
    #rightSideAddTask {
        width: 100%;
    }

    #addtaskContainer section {
        margin-bottom: 0;
    }

    .verticalLine {
        display: none;
    }

    .prioContainer {
        padding-inline: 10px;
    }

    #addtaskBtnContainer {
        position: unset;
        justify-content: flex-end;
        margin-top: 0;
    }
}

@media (max-width: 500px) {
    #addtaskContainer {
        padding-left: 10px;
    }

    #addtaskContainer form {
        padding-right: 10px;
    }

    .prioContainer {
        font-size: var(--fntsizebase);
    }

    #addTask li {
        font-size: var(--fntsizebase);
    }

    /* li:not(:last-child) {
        margin-bottom: unset !important;
    } */

}